:root {
    --main-bg-color: #fff;
    --main-text-color: #555;
    --dark-text-color: #222;
    --light-text-color: #c7c7c7;
    --brand-primary-color: #E06E3F;
    --light-bg-color: #BBC7D8;
    --dark-bg-color: #2B3442;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #eeeef3;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(43, 52, 66);
    color: #BBC7D8;
    padding: 10px 20px;
}
header h1 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    opacity: 0.5;
}
p.lead {
    font-size: 1.5em;
    margin: 0 0 20px;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 80em;
}

.solution {
    background-color: var(--light-bg-color);
}
.solution p {
    font-size: 1.2em;
    color: var(--dark-text-color);
}

.error-location {
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.source {
    background: var(--dark-bg-color);
    color: var(--light-text-color);
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.85rem;
    margin: 0;
    overflow-x: scroll;
}
.source span.line {
    line-height: 1.4;
}
.source span.line .number {
    color: var(--light-text-color);
    opacity: 0.6;
}
.source .line .highlight {
    display: block;
    background: black;
    color: var(--light-text-color);
    opacity: 0.8;
}
.source span.highlight .number {
    color: #fff;
    opacity: 1.0;
}

.trace a {
    color: inherit;
}
.trace table {
    width: auto;
}
.trace tr td:first-child {
    min-width: 5em;
    font-weight: bold;
}
.trace td {
    background: var(--light-bg-color);
    padding: 0 1rem;
}
.trace td pre {
    margin: 0;
}
.trace li {
    display: block;
}
.args {
    display: none;
    overflow-x: scroll;
    max-width: 100%;
    padding: 1em !important;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}
.tabs a {
    width: auto;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center;
    text-decoration: none;
    color: var(--light-text-color);
    border-bottom: 1px solid var(--light-text-color);
    cursor: pointer;
}
.tabs a:hover, .tabs a.active {
    color: var(--dark-text-color);
    border-bottom: 1px solid var(--dark-text-color);
}

table td {
    padding: 0.2em 1em;
}
table tr:hover {
    background-color: var(--dark-bg-color);
    color: white;
}
